/*! Bulma Elements v0.9.4 | MIT License | github.com/jgthms/bulma */

/* Box */
.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

.box:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* Button */
.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  font-size: 1rem;
  height: 2.5em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  box-shadow: none;
  font-family: inherit;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s ease;
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button:focus {
  border-color: #3273dc;
  color: #363636;
}

.button:active {
  border-color: #4a4a4a;
  color: #363636;
}

.button.is-static {
  background-color: #f5f5f5;
  border-color: #dbdbdb;
  color: #7a7a7a;
  cursor: not-allowed;
  pointer-events: none;
}

.button.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}

.button.is-small {
  border-radius: 4px;
  font-size: 0.875rem;
  height: 2.28571429em;
  padding-left: 0.85714286em;
  padding-right: 0.85714286em;
}

.button.is-medium {
  font-size: 1.25rem;
  height: 3em;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.button.is-large {
  font-size: 1.5rem;
  height: 3.25em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.button.is-fullwidth {
  display: flex;
  width: 100%;
}

.button.is-loading {
  color: transparent !important;
  pointer-events: none;
}

.button.is-loading::after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  position: absolute;
  left: calc(50% - 0.5em);
  top: calc(50% - 0.5em);
  position: absolute !important;
}

/* Button Colors */
.button.is-white {
  background-color: #fff;
  border-color: transparent;
  color: #0a0a0a;
}

.button.is-white:hover {
  background-color: #f9f9f9;
  border-color: transparent;
  color: #0a0a0a;
}

.button.is-white.is-focused,
.button.is-white:focus {
  border-color: transparent;
  color: #0a0a0a;
}

.button.is-white.is-active,
.button.is-white:active {
  background-color: #f2f2f2;
  border-color: transparent;
  color: #0a0a0a;
}

.button.is-light {
  background-color: #f5f5f5;
  border-color: transparent;
  color: #363636;
}

.button.is-light:hover {
  background-color: #eee;
  border-color: transparent;
  color: #363636;
}

.button.is-light.is-focused,
.button.is-light:focus {
  border-color: transparent;
  color: #363636;
}

.button.is-light.is-active,
.button.is-light:active {
  background-color: #e8e8e8;
  border-color: transparent;
  color: #363636;
}

.button.is-dark {
  background-color: #363636;
  border-color: transparent;
  color: #fff;
}

.button.is-dark:hover {
  background-color: #292929;
  border-color: transparent;
  color: #fff;
}

.button.is-dark.is-focused,
.button.is-dark:focus {
  border-color: transparent;
  color: #fff;
}

.button.is-dark.is-active,
.button.is-dark:active {
  background-color: #1f1f1f;
  border-color: transparent;
  color: #fff;
}

.button.is-black {
  background-color: #0a0a0a;
  border-color: transparent;
  color: #fff;
}

.button.is-black:hover {
  background-color: #000;
  border-color: transparent;
  color: #fff;
}

.button.is-black.is-focused,
.button.is-black:focus {
  border-color: transparent;
  color: #fff;
}

.button.is-black.is-active,
.button.is-black:active {
  background-color: #000;
  border-color: transparent;
  color: #fff;
}

.button.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #485fc7;
  text-decoration: underline;
}

.button.is-text:hover {
  background-color: #f5f5f5;
  color: #363636;
}

.button.is-text.is-focused,
.button.is-text:focus {
  border-color: transparent;
  color: #363636;
}

.button.is-text.is-active,
.button.is-text:active {
  background-color: #e8e8e8;
  color: #363636;
}

.button.is-ghost {
  background-color: transparent;
  border-color: #dbdbdb;
  color: #7a7a7a;
}

.button.is-ghost:hover {
  background-color: #fff;
  border-color: #b5b5b5;
  color: #363636;
}

.button.is-ghost.is-focused,
.button.is-ghost:focus {
  background-color: #fff;
  border-color: #3273dc;
  color: #363636;
}

.button.is-ghost.is-active,
.button.is-ghost:active {
  background-color: #f5f5f5;
  border-color: #4a4a4a;
  color: #363636;
}

/* Content */
.content {
  color: #4a4a4a;
  line-height: 1.6;
  word-break: break-word;
}

.content:not(:last-child) {
  margin-bottom: 1.5rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.content h1:not(:first-child) {
  margin-top: 1em;
}

.content h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em;
}

.content h2:not(:first-child) {
  margin-top: 1.1428em;
}

.content h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;
}

.content h3:not(:first-child) {
  margin-top: 1.3333em;
}

.content h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}

.content h4:not(:first-child) {
  margin-top: 1.6em;
}

.content h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em;
}

.content h5:not(:first-child) {
  margin-top: 1.7777em;
}

.content h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

.content h6:not(:first-child) {
  margin-top: 2em;
}

.content blockquote {
  background-color: #f5f5f5;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
}

.content ol {
  list-style-position: outside;
  margin-left: 2em;
  margin-top: 1em;
}

.content ol:not([type]) {
  list-style-type: decimal;
}

.content ol:not([type]).is-lower-alpha {
  list-style-type: lower-alpha;
}

.content ol:not([type]).is-lower-roman {
  list-style-type: lower-roman;
}

.content ol:not([type]).is-upper-alpha {
  list-style-type: upper-alpha;
}

.content ol:not([type]).is-upper-roman {
  list-style-type: upper-roman;
}

.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}

.content ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
}

.content ul ul ul {
  list-style-type: square;
}

.content dd {
  margin-left: 2em;
}

.content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

.content figure:not(:first-child) {
  margin-top: 2em;
}

.content figure:not(:last-child) {
  margin-bottom: 2em;
}

.content figure img {
  display: inline-block;
}

.content figure figcaption {
  color: #7a7a7a;
  font-size: 0.875em;
  font-style: italic;
  text-align: center;
}

.content pre {
  -webkit-overflow-scrolling: touch;
  background-color: #f5f5f5;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
}

.content pre:not(:first-child) {
  margin-top: 1.5em;
}

.content pre:not(:last-child) {
  margin-bottom: 1.5em;
}

.content sub {
  font-size: 0.875em;
}

.content sup {
  font-size: 0.875em;
}

.content table {
  width: 100%;
}

.content table td,
.content table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.content table th {
  color: #363636;
  text-align: left;
}

.content table th:not([align]) {
  text-align: left;
}

.content table thead td,
.content table thead th {
  border-width: 0 0 2px;
  color: #363636;
}

.content table tfoot td,
.content table tfoot th {
  border-width: 2px 0 0;
  color: #363636;
}

.content table tbody tr:last-child td,
.content table tbody tr:last-child th {
  border-bottom-width: 0;
}

.content.is-small {
  font-size: 0.875rem;
}

.content.is-medium {
  font-size: 1.25rem;
}

.content.is-large {
  font-size: 1.5rem;
}

/* Delete */
.delete {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: 0;
  position: relative;
  vertical-align: top;
  width: 20px;
}

.delete::before,
.delete::after {
  background-color: #fff;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}

.delete::before {
  height: 2px;
  width: 50%;
}

.delete::after {
  height: 50%;
  width: 2px;
}

.delete:hover,
.delete:focus {
  background-color: rgba(10, 10, 10, 0.3);
}

.delete:active {
  background-color: rgba(10, 10, 10, 0.4);
}

.delete.is-small {
  height: 16px;
  max-height: 16px;
  max-width: 16px;
  min-height: 16px;
  min-width: 16px;
  width: 16px;
}

.delete.is-medium {
  height: 24px;
  max-height: 24px;
  max-width: 24px;
  min-height: 24px;
  min-width: 24px;
  width: 24px;
}

.delete.is-large {
  height: 32px;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;
}

/* Icon */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.icon.is-small {
  height: 1rem;
  width: 1rem;
}

.icon.is-medium {
  height: 2rem;
  width: 2rem;
}

.icon.is-large {
  height: 3rem;
  width: 3rem;
}

/* Image */
.image {
  display: block;
  position: relative;
}

.image img {
  display: block;
  height: auto;
  width: 100%;
}

.image.is-square img,
.image.is-1by1 img,
.image.is-5by4 img,
.image.is-4by3 img,
.image.is-3by2 img,
.image.is-5by3 img,
.image.is-16by9 img,
.image.is-2by1 img,
.image.is-3by1 img,
.image.is-4by5 img,
.image.is-3by4 img,
.image.is-2by3 img,
.image.is-3by5 img,
.image.is-9by16 img,
.image.is-1by2 img,
.image.is-1by3 img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.image.is-square,
.image.is-1by1 {
  padding-top: 100%;
}

.image.is-5by4 {
  padding-top: 80%;
}

.image.is-4by3 {
  padding-top: 75%;
}

.image.is-3by2 {
  padding-top: 66.6666%;
}

.image.is-5by3 {
  padding-top: 60%;
}

.image.is-16by9 {
  padding-top: 56.25%;
}

.image.is-2by1 {
  padding-top: 50%;
}

.image.is-3by1 {
  padding-top: 33.3333%;
}

.image.is-4by5 {
  padding-top: 125%;
}

.image.is-3by4 {
  padding-top: 133.3333%;
}

.image.is-2by3 {
  padding-top: 150%;
}

.image.is-3by5 {
  padding-top: 166.6666%;
}

.image.is-9by16 {
  padding-top: 177.7777%;
}

.image.is-1by2 {
  padding-top: 200%;
}

.image.is-1by3 {
  padding-top: 300%;
}

.image.is-16x16 {
  height: 16px;
  width: 16px;
}

.image.is-24x24 {
  height: 24px;
  width: 24px;
}

.image.is-32x32 {
  height: 32px;
  width: 32px;
}

.image.is-48x48 {
  height: 48px;
  width: 48px;
}

.image.is-64x64 {
  height: 64px;
  width: 64px;
}

.image.is-96x96 {
  height: 96px;
  width: 96px;
}

.image.is-128x128 {
  height: 128px;
  width: 128px;
}

.image.is-256x256 {
  height: 256px;
  width: 256px;
}

.image.is-512x512 {
  height: 512px;
  width: 512px;
}

/* Notification */
.notification {
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  position: relative;
}

.notification:not(:last-child) {
  margin-bottom: 1.5rem;
}

.notification a:not(.button):not(.dropdown-item) {
  color: currentColor;
  text-decoration: none;
}

.notification strong {
  color: currentColor;
}

.notification code,
.notification pre {
  background: #fff;
}

.notification .delete {
  right: 0.5rem;
  position: absolute;
  top: 0.5rem;
}

.notification.is-white {
  background-color: #fff;
  color: #0a0a0a;
}

.notification.is-black {
  background-color: #0a0a0a;
  color: #fff;
}

.notification.is-light {
  background-color: #f5f5f5;
  color: #363636;
}

.notification.is-dark {
  background-color: #363636;
  color: #f5f5f5;
}

.notification.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.notification.is-link {
  background-color: #3273dc;
  color: #fff;
}

.notification.is-info {
  background-color: #3298dc;
  color: #fff;
}

.notification.is-success {
  background-color: #48c774;
  color: #fff;
}

.notification.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.notification.is-danger {
  background-color: #f14668;
  color: #fff;
}

/* Progress */
.progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 290486px;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.progress::-webkit-progress-bar {
  background-color: #f5f5f5;
}

.progress::-webkit-progress-value {
  background-color: #4a4a4a;
}

.progress::-moz-progress-bar {
  background-color: #4a4a4a;
}

.progress::-ms-fill {
  background-color: #4a4a4a;
  border: none;
}

.progress.is-white::-webkit-progress-value {
  background-color: #fff;
}

.progress.is-white::-moz-progress-bar {
  background-color: #fff;
}

.progress.is-white::-ms-fill {
  background-color: #fff;
}

.progress.is-black::-webkit-progress-value {
  background-color: #0a0a0a;
}

.progress.is-black::-moz-progress-bar {
  background-color: #0a0a0a;
}

.progress.is-black::-ms-fill {
  background-color: #0a0a0a;
}

.progress.is-light::-webkit-progress-value {
  background-color: #f5f5f5;
}

.progress.is-light::-moz-progress-bar {
  background-color: #f5f5f5;
}

.progress.is-light::-ms-fill {
  background-color: #f5f5f5;
}

.progress.is-dark::-webkit-progress-value {
  background-color: #363636;
}

.progress.is-dark::-moz-progress-bar {
  background-color: #363636;
}

.progress.is-dark::-ms-fill {
  background-color: #363636;
}

.progress.is-primary::-webkit-progress-value {
  background-color: #00d1b2;
}

.progress.is-primary::-moz-progress-bar {
  background-color: #00d1b2;
}

.progress.is-primary::-ms-fill {
  background-color: #00d1b2;
}

.progress.is-link::-webkit-progress-value {
  background-color: #3273dc;
}

.progress.is-link::-moz-progress-bar {
  background-color: #3273dc;
}

.progress.is-link::-ms-fill {
  background-color: #3273dc;
}

.progress.is-info::-webkit-progress-value {
  background-color: #3298dc;
}

.progress.is-info::-moz-progress-bar {
  background-color: #3298dc;
}

.progress.is-info::-ms-fill {
  background-color: #3298dc;
}

.progress.is-success::-webkit-progress-value {
  background-color: #48c774;
}

.progress.is-success::-moz-progress-bar {
  background-color: #48c774;
}

.progress.is-success::-ms-fill {
  background-color: #48c774;
}

.progress.is-warning::-webkit-progress-value {
  background-color: #ffdd57;
}

.progress.is-warning::-moz-progress-bar {
  background-color: #ffdd57;
}

.progress.is-warning::-ms-fill {
  background-color: #ffdd57;
}

.progress.is-danger::-webkit-progress-value {
  background-color: #f14668;
}

.progress.is-danger::-moz-progress-bar {
  background-color: #f14668;
}

.progress.is-danger::-ms-fill {
  background-color: #f14668;
}

.progress.is-small {
  height: 0.75rem;
}

.progress.is-medium {
  height: 1.25rem;
}

.progress.is-large {
  height: 1.5rem;
}

/* Table */
.table {
  background-color: #fff;
  color: #363636;
  margin-bottom: 1.5rem;
}

.table td,
.table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.table td.is-narrow,
.table th.is-narrow {
  white-space: nowrap;
  width: 1%;
}

.table td.is-selected,
.table th.is-selected {
  background-color: #00d1b2;
  color: #fff;
}

.table td.is-selected a,
.table th.is-selected a {
  color: currentColor;
}

.table td.is-selected strong,
.table th.is-selected strong {
  color: currentColor;
}

.table th {
  color: #363636;
  font-weight: 600;
  text-align: left;
}

.table th:not([align]) {
  text-align: left;
}

.table thead td,
.table thead th {
  border-width: 0 0 2px;
  color: #363636;
}

.table tfoot td,
.table tfoot th {
  border-width: 2px 0 0;
  color: #363636;
}

.table tbody tr:last-child td,
.table tbody tr:last-child th {
  border-bottom-width: 0;
}

.table.is-bordered td,
.table.is-bordered th {
  border-width: 1px;
}

.table.is-bordered tr:last-child td,
.table.is-bordered tr:last-child th {
  border-bottom-width: 1px;
}

.table.is-fullwidth {
  width: 100%;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: #fafafa;
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
  background-color: #f5f5f5;
}

.table.is-narrow td,
.table.is-narrow th {
  padding: 0.25em 0.5em;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background-color: #fafafa;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even):hover {
  background-color: #f5f5f5;
}

/* Tag */
.tag {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

.tag .delete {
  margin-left: 0.25rem;
  margin-right: -0.375rem;
}

.tag.is-white {
  background-color: #fff;
  color: #0a0a0a;
}

.tag.is-black {
  background-color: #0a0a0a;
  color: #fff;
}

.tag.is-light {
  background-color: #f5f5f5;
  color: #363636;
}

.tag.is-dark {
  background-color: #363636;
  color: #f5f5f5;
}

.tag.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.tag.is-link {
  background-color: #3273dc;
  color: #fff;
}

.tag.is-info {
  background-color: #3298dc;
  color: #fff;
}

.tag.is-success {
  background-color: #48c774;
  color: #fff;
}

.tag.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.tag.is-danger {
  background-color: #f14668;
  color: #fff;
}

.tag.is-normal {
  font-size: 0.75rem;
}

.tag.is-medium {
  font-size: 1rem;
}

.tag.is-large {
  font-size: 1.25rem;
}

.tag.is-rounded {
  border-radius: 290486px;
}

/* Title */
.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  word-break: break-word;
}

.title:not(.is-spaced) + .subtitle {
  margin-top: -1.25rem;
}

.title.is-1 {
  font-size: 3rem;
}

.title.is-2 {
  font-size: 2.5rem;
}

.title.is-3 {
  font-size: 2rem;
}

.title.is-4 {
  font-size: 1.5rem;
}

.title.is-5 {
  font-size: 1.25rem;
}

.title.is-6 {
  font-size: 1rem;
}

.title.is-7 {
  font-size: 0.75rem;
}

/* Subtitle */
.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  word-break: break-word;
}

.subtitle:not(.is-spaced) + .title {
  margin-top: -1.25rem;
}

.subtitle.is-1 {
  font-size: 3rem;
}

.subtitle.is-2 {
  font-size: 2.5rem;
}

.subtitle.is-3 {
  font-size: 2rem;
}

.subtitle.is-4 {
  font-size: 1.5rem;
}

.subtitle.is-5 {
  font-size: 1.25rem;
}

.subtitle.is-6 {
  font-size: 1rem;
}

.subtitle.is-7 {
  font-size: 0.75rem;
}

/* Animation */
@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
